<div class="h-screen bg-gray-100 flex justify-center items-start px-4 pt-6">
  <div
    class="w-full max-w-xl bg-white rounded-xl shadow-md p-6 border border-gray-100 flex flex-col flex-grow max-h-[90vh] min-h-0"
  >
    <div class="text-center mb-6">
      <h2 class="text-3xl font-semibold text-gray-800">Become A Member</h2>
    </div>

    <form
      [formGroup]="userSignupForm"
      (ngSubmit)="onSubmit()"
      class="space-y-6 overflow-auto min-h-0 flex-grow"
    >
      <!-- Name Row -->
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="firstName" class="block text-sm font-medium text-gray-700"
            >First Name *</label
          >
          <input
            id="firstName"
            type="text"
            formControlName="firstName"
            autocomplete="off"
            class="mt-1 block w-full rounded-md border px-3 py-2 text-sm"
          />
          @if (firstName?.touched && firstName?.errors?.['required']) {
          <span class="text-red-500 text-sm">First name is required.</span>
          }
        </div>
        <div>
          <label for="lastName" class="block text-sm font-medium text-gray-700"
            >Last Name</label
          >
          <input
            id="lastName"
            type="text"
            formControlName="lastName"
            autocomplete="off"
            class="mt-1 block w-full rounded-md border px-3 py-2 text-sm"
          />
        </div>
      </div>

      <!-- Address, City, State, Pin -->
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="address" class="block text-sm font-medium text-gray-700"
            >Address</label
          >
          <input
            id="address"
            type="text"
            formControlName="address"
            autocomplete="off"
            class="mt-1 block w-full rounded-md border px-3 py-2 text-sm"
          />
        </div>
        <div>
          <label for="city" class="block text-sm font-medium text-gray-700"
            >City</label
          >
          <input
            id="city"
            type="text"
            formControlName="city"
            autocomplete="off"
            class="mt-1 block w-full rounded-md border px-3 py-2 text-sm"
          />
        </div>
        <div>
          <label for="state" class="block text-sm font-medium text-gray-700"
            >State</label
          >
          <input
            id="state"
            type="text"
            formControlName="state"
            autocomplete="off"
            class="mt-1 block w-full rounded-md border px-3 py-2 text-sm"
          />
        </div>
        <div>
          <label for="pin" class="block text-sm font-medium text-gray-700"
            >Pin / Zip code</label
          >
          <input
            id="pin"
            type="text"
            formControlName="pin"
            autocomplete="off"
            class="mt-1 block w-full rounded-md border px-3 py-2 text-sm"
          />
        </div>
      </div>

      <!-- Email -->
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Email *</label
        >
        <input
          id="email"
          type="email"
          formControlName="email"
          autocomplete="off"
          class="mt-1 block w-full rounded-md border px-3 py-2 text-sm"
        />
        @if (email?.touched && email?.errors?.['required']) {
        <span class="text-red-500 text-sm">Email is required.</span>
        } @if (email?.touched && email?.errors?.['email']) {
        <span class="text-red-500 text-sm">Enter valid email address</span>
        }
      </div>

      <!-- Passwords -->
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700"
            >Password *</label
          >
          <input
            id="password"
            type="password"
            formControlName="password"
            class="mt-1 block w-full rounded-md border px-3 py-2 text-sm"
          />
          @if (password?.touched && password?.errors?.['required']) {
          <span class="text-red-500 text-sm">Password is required</span>
          }
        </div>
        <div>
          <label
            for="confirmPassword"
            class="block text-sm font-medium text-gray-700"
            >Confirm Password *</label
          >
          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            class="mt-1 block w-full rounded-md border px-3 py-2 text-sm"
          />
          @if (confirmPassword?.touched &&
          confirmPassword?.errors?.['required']) {
          <span class="text-red-500 text-sm">Confirm password is required</span>
          } @if (confirmPassword?.touched &&
          userSignupForm.errors?.['passwordMismatch']) {
          <span class="text-red-500 text-sm">Passwords do not match</span>
          }
        </div>
      </div>

      <!-- Button -->
      <div class="text-center pt-4">
        <button
          type="submit"
          class="bg-indigo-600 hover:bg-indigo-700 text-white text-md px-8 py-2 rounded-md cursor-pointer disabled:bg-gray-400 disabled:cursor-not-allowed"
          [disabled]="!userSignupForm.valid"
        >
          Join
        </button>
      </div>

      @if(alertMessage !==''){
        <div class="mt-4 rounded-md px-4 py-3 text-sm font-medium"
        [ngClass]="{
          'bg-green-100 text-green-700 border border-green-300': alerType ===0,
          'bg-yellow-100 text-yellow-700 border border-yellow-300': alerType === 1,
          'bg-red-100 text-red-700 border border-red-300' : alerType ===2
        }"
        >{{alertMessage}}</div>
      }

    </form>
  </div>
</div>
