<div
  class="w-full min-h-[5rem] shadow-[5px_5px_20px_gray] bg-gray-900 flex flex-wrap md:flex-nowrap items-center px-4 gap-y-2"
>
  <!-- Logo -->
  <div class="text-white px-3 md:w-[23%] w-full flex items-center">
    <h1 class="text-3xl font-bold cursor-pointer">
      <a routerLink="/home/products" class="cursor-pointer">eStore</a>
    </h1>
  </div>

  <!-- Search Bar -->
  <div class="w-full md:w-[50%] flex items-center justify-center h-[2.5rem]">
    @if(displaySearch()){
    <div
      class="w-full bg-white flex items-center rounded-md overflow-hidden h-full"
    >
      <select
        #categoryOptions
        class="bg-gray-300 h-full border-none font-semibold px-2 pr-5"
      >
        @for (category of categoryStore.topLevelCategories(); track $index) {
        <option [value]="category.id">{{ category.category }}</option>
        }
      </select>
      <input
        #keyword
        class="w-full h-full border-none outline-none px-3"
        placeholder="Search..."
      />
      <button
        (click)="onClickSearch(keyword.value, categoryOptions.value)"
        class="w-[10%] min-w-[2.5rem] h-full border-none bg-gray-300 flex justify-center items-center cursor-pointer"
      >
        <fa-icon [icon]="faSearch" class="cursor-pointer"></fa-icon>
      </button>
    </div>
    }
  </div>

  <!-- Auth & Cart -->
  <div
    class="w-full md:w-[27%] flex items-center justify-between md:justify-end gap-4 text-white text-lg"
  >
    <div class="flex items-center gap-2">
      <fa-icon [icon]="faUserCircle" class="text-[1.3em]"></fa-icon>
      <a
        routerLink="/home/login"
        class="px-1 py-1 rounded transition-all duration-300 hover:bg-white hover:text-gray-900"
        >Sign in / Join</a
      >
    </div>
    <div class="relative flex items-center">
      <button type="button"
      class="flex items-center justify-center text-white p-2 rounded-full bg-gray-700 hover:bg-gray-800 transition-colors cursor-pointer"
      (click) ="navigateToCart()">
    <fa-icon [icon]="faShoppingCart" class="text-[1.3em]"></fa-icon>    
    </button>
      @if(cart.cart()){
        @if(cart.totalProducts() > 0){
          <span class="absolute -top-1 -right-1 flex items-center justify-center text-[0.7rem] 
            font-semibold text-white bg-amber-500 rounded-full w-5 h-5">
            {{ cart.totalProducts() }}
          </span>
        }}
    </div>
  </div>
</div>
